.section_contact {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.contactBanner_container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .contactBanner_title {
    width: 100%;
    text-align: start;
    font-size: 2.5rem;
    color: var(--royal-blue-dark);
  }
  .contactBanner_image {
    width: 100%;
    max-width: 300px;
  }
}

.form_contact {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  gap: 20px;

  .contactForm_inputContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;

    label {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: var(--oxford-blue);
    }

    input {
      font-size: 1.1rem;
      padding: 10px 0px;
      background-color: transparent;
      color: var(--black);
      border: none;
      transition: all 0.3s ease;

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
      &:focus {
        transition: all 0.3s ease;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }

    textarea {
      resize: inherit;
      width: 100%;
      overflow: hidden;
      border: none;
      height: 120px;
      padding: 10px 10px 10px 0px;
      transition: all 0.3s ease;

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }

      &:focus {
        transition: all 0.3s ease;
        outline: 1px solid rgba(0, 0, 0, 0.4);
        padding: 10px;
      }
    }
  }
}

/* medias query */

/* media query medium and large */
@media (max-width: 1025px) {
  .contactBanner_container {
    .contactBanner_title {
      font-size: 1.9rem;
    }
    .contactBanner_image {
      width: 100%;
      max-width: 270px;
    }
  }

  .form_contact {
    max-width: 300px;
  }
}
/* media query small */
@media (max-width: 767px) {
  .section_contact {
    gap: 60px;
  }
}
